[ghq]
  root= ~/src
[commit]
  template = ~/.gitmessage.txt
[color]
  status = auto
  diff = auto
  branch = auto
[user]
  email = duglaser0618@gmail.com
  name = DuGlaser
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[url "ssh://git@github.com"]
  insteadOf = https://github.com
[url "https://github.com/rust-lang/crates.io-index"]
    insteadOf = https://github.com/rust-lang/crates.io-index
