[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/DuGlaser/nvim_setting

[submodule "zsh-completions"]
  path = zsh-completions
  url = https://github.com/zsh-users/zsh-completions
