/*
!.atc.toml
!.gitignore
!/alacritty
!/bat
!/fish
!/karabiner
!/nvim
!cargo-atcoder.toml
!git
!setup_config.sh
!skhd
!yabai
!lazygit/config.yml
!zsh
!mise

/alacritty/size.toml
/zsh/sheldon/sheldon.zsh
